{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900">

    <div class="w-full max-w-xl p-6 space-y-8 sm:p-8   shadow dark:bg-gray-800">
    
<form method="post" class="mt-6 space-y-6">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div>
    <a href="{{path('app_login')}}" class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
        <img src="{{asset('/images/logo.svg')}}" class="mr-4 h-11" alt="Odoswitch Logo">
          
    </a>
    <h1 class="text-2xl font-bold text-center text-white">Please sign in</h1>
    <label for="inputEmail" class="block mb-2 text-2xl font-medium text-gray-900 text-white">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" autocomplete="email" required autofocus>
    </div>
    <div>
    <label for="inputPassword" class="block mb-2 text-2xl font-medium text-gray-900 text-white">Password</label>
    <input type="password" name="password" id="inputPassword" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" autocomplete="current-password" required>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div>
    <button class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" type="submit">
        Connexion
    </button>
    </div>
    
    
    </div>
</form>
</div>
</div>
{% endblock %}
